.App{
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(248, 245, 245);
  border-radius:20px;
}

.dashBoardImageDiv{
  margin-top: 300px;
  margin-left: 16px;
  padding: 15px;
}

#dashImage{
  margin-right: 20px;
}

.dashBoard{
  background-color:white;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.dashHead{
  margin-bottom: 20px;
  margin-left: 20px;
  color: rgba(4, 18, 148, 0.74);
}

.headerButton{
  float:right;
  margin-top:18px;
  margin-right: 20px;
}

.hn{    /* Header title */
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.expense{
  background-color: white;
  margin-left: 25px;
  margin-bottom: 10px;
  margin-top: 5px;
  box-shadow: 1px 1px 10px #b8b6b6;
  width: 45%;
  border-radius:15px;
  padding-top: 4px;
  
}

.subTitle{
  font-size:13px;
}



.upgAccount{
  background-color: white;
  margin-left: 15px;
  margin-right:12px;
  margin-top:7px;
  border-radius:15px;
  padding:10px;
  background-color:rgba(68, 32, 196, 0.74);
  color:white;
}

#upgButton{
  float:right;
  margin-top:9px;
  margin-right: 5px;
}

.upgSubtitle{
  font-size:12px;
}

.transaction{
  background-color:white;
  border-radius: 15px;
  margin-left: 15px;
  margin-top: 20px;
  margin-right: 16px;
  box-shadow: 1px 1px 10px #b8b6b6;
}

.transactionImage{
  border-radius: 4px;
  margin-right: 20px;
}

.transactionDate{
  margin-left: 35px;
}

.transactionAmount{
  margin-left: 70px;
}

.account-card{
  background-image: linear-gradient(to right, rgba(68, 56, 233, 0.726),rgba(8, 11, 173, 0.726));
  padding: 10px;
  margin-top: 2px;
  margin-right: 20px;
  border-radius:15px;
  color:white;
}

.amount-balance{
  margin-top: 8px;
  color:white;
}

.account-no{
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-content{
  color:white;
}

.info{
  background-color:white;
  margin-top: 15px;
  margin-right: 20px;
  padding: 10px;
  border-radius:15px;
  box-shadow: 1px 1px 10px #b8b6b6;
}

.earnings{
  background-color:white;
  border-radius:15px;
  margin-right: 20px;
  margin-top: 15px;
  padding: 10px;
  height: 160px;
  box-shadow: 1px 1px 10px #b8b6b6;
}

.conversion{
  background-color:white;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 20px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #b8b6b6;
}

.conversion-box{
  width:210px;
}

#conversion-btn{
  margin-top: 7px;
  margin-bottom: 7px;
  background-color:rgb(232, 234, 236);
}

.conversion-drop{
  height: 28px;
  width: 50px;
}

.conversion-last{
  margin-bottom:7px;
}